#left-menu ul {margin: 0 0 0 40px;  padding: 0;}
#left-menu li {
  margin-bottom: 4px !important;
  float: none !important;
}
#left-menu li a {
  background-position: center left;
  float: none !important;
  font-size: 12pt !important;
  font-weight: none !important;
}
/* MSIE: */
.left-menu-list,.left-menu-list * {
  border: none !important;
  border-collapse: collapse !important;
}
/* end */

#left-project-list td {
  white-space: normal;
}

.left-menu-list .parent.open, #projects-index a, #projects-index a:visited, #projects-index a:hover, .left-menu-list a, .left-menu a:visited, .left-menu a:hover {
  color: #ffffff !important;
  background-color: transparent !important;
  text-decoration: none;
}

#projects-index a:hover, .left-menu-list a:hover {
  text-decoration: underline;
}

#left-menu, #left-menu h2 {
  color: #ffffff !important;
}

#global-statistics {
  padding-left: 20px;
}

#global-statistics td:nth-child(2) {
  padding-left: 10px;
  font-weight: bold;
}

#top-menu-top {
	display: none;
}
#top-menu-top li a {
	height: 14px;
	display: block;
}


